@model CombinationBooks.Models.AuthorDetails

@{
    ViewBag.Title = "Index";
}

<div>
    @*<h4 style="margin-top:10px;">AuthorDetails</h4>
    <hr />*@
    <dl class="dl-horizontal">
        <h4 style="margin:7px 0px;">Personal Details</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Author.UserName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Author.UserName)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Author.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Author.Email)
                </dd>
            </div>
            <div class="col-md-4">
                <dt>
                    @Html.DisplayNameFor(model => model.Author.Age)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Author.Age)
                </dd>
            </div>
        </div>

        <h4 style="margin:7px 0px;">Residential Details</h4>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <dt>
                    @Html.DisplayNameFor(model => model.Street)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Street)
                </dd>
            </div>
            <div class="col-md-6">
                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <dt>
                    @Html.DisplayNameFor(model => model.State)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.State)
                </dd>
            </div>
            <div class="col-md-6">
                <dt>
                    @Html.DisplayNameFor(model => model.Country)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Country)
                </dd>
            </div>
        </div>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Books", "BookDetails", "Book", new { authId = Model.Author.Id }, new { @class = "btn btn-secondary" })
</p>

<style>
    .dl-horizontal dt {
        font-weight: bold;
    }

    .dl-horizontal dd {
        margin-left: 0;
    }

    .row {
        margin-bottom: 15px;
    }

    .btn {
        padding: 5px 10px;
        border-radius: 4px;
        text-decoration: none; /* To remove underline */
        display: inline-block; /* To make it behave like a button */
        color: #fff;
        border: 2px solid transparent;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
            border-color: #545b62;
        }
</style>
