<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />


    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>

</head>
<body>
    <div class="navbar navbar-dark bg-dark navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand" style="font-size: 2rem; padding-top: 2px; padding-bottom: 2px; left: 20px;">Contact App</span>

                @if (User.Identity.IsAuthenticated)
                {
                    <span class="navbar-text" style="position: absolute; font-size: 140%; left: 50%; transform: translateX(-50%); color: white; padding-top:0.7rem;">
                        Welcome @User.Identity.Name
                    </span>
                    <a href="@Url.Action("Logout", "User")" class="btn btn-secondary navbar-btn" style="position: absolute; right: 10px;">Logout</a>
                }
                @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                {
                    <!-- Add buttons as hyperlinks -->
                    <a href="@Url.Action("ViewAdmins", "User")" class="btn btn-secondary navbar-btn">View Admins</a>
                }

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>